<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118998147594-fdt2bn61gguot5nfbq767kfle05p5deo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118998147594-fdt2bn61gguot5nfbq767kfle05p5deo</string>
	<key>API_KEY</key>
	<string>AIzaSyC24wlm4m74bhIT6-CpHx4ds8litc0fQ-g</string>
	<key>GCM_SENDER_ID</key>
	<string>118998147594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinderapp-17e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderapp-17e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118998147594:ios:51460dddf310364f2df5f3</string>
</dict>
</plist>